:root {
  --bg-normal: #111;
  --bg-light: #222;
  --bg-accent: purple;

  --fg-normal: #eee;
  --fg-dark: #aaa;
  --fg-accent-1: deepskyblue;
  --fg-accent-2: hotpink;
  --fg-accent-3: darkorange;
  --fg-accent-4: gold;
  --fg-accent-5: limegreen;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 1rem;     /* 16px */
  --font-size-m: 1.25rem;  /* 20px */
  --font-size-l: 1.875rem; /* 30px */
  --font-size-xl: 2.5rem;  /* 40px */
  --font-size-xxl: 5rem;   /* 80px */

  --space-size-s: 0.5rem;  /* 8px */
  --space-size-m: 1.25rem; /* 20px */
  --space-size-l: 2.5rem;  /* 40px */

  --border-radius-size: 0.25rem; /* 4px */
}

/* Layout */

body {
  background-color: var(--bg-normal);
  color: var(--fg-normal);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-m);
  line-height: 1.75;
}

/* Blockquotes */

blockquote {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
  font-style: italic;
  padding: var(--space-size-m);
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

/* Code */

code, pre {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
}

code {
  font-size: var(--font-size-s);
  padding: var(--space-size-s);
  white-space: pre;
}

pre {
  line-height: normal;
  overflow: auto;
  padding: var(--space-size-m);
}

pre code {
  padding: 0;
}

/* Links */

a {
  color: var(--fg-normal);
  text-decoration: underline;
  text-decoration-color: var(--fg-accent-1);
  transition: color 300ms;
}

a:focus, a:hover {
  color: var(--fg-accent-1);
}

/* Lists */

li {
  text-align: justify;
}

/* Paragraphs */

p {
  text-align: justify;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tables */

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-light);
}

td, th {
  padding: var(--space-size-s);
}

th {
  text-align: left;
}

/* Container */

.container {
  margin-left: var(--space-size-m);
  margin-right: var(--space-size-m);
}

@media (min-width: 940px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}

.container img {
  max-width: 100%;
}

/* Header */

header {
  margin-bottom: var(--space-size-m);
  margin-top: var(--space-size-m);
}

header nav {
  display: flex;
  gap: var(--space-size-l);
  justify-content: center;
}

header nav a {
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

header nav a:nth-child(1) {
  color: var(--fg-accent-1);
}

header nav a:nth-child(2) {
  color: var(--fg-accent-2);
}

header nav a:nth-child(3) {
  color: var(--fg-accent-3);
}

header nav a:nth-child(4) {
  color: var(--fg-accent-4);
}

header nav a:nth-child(5) {
  color: var(--fg-accent-5);
}

header nav a:focus,
header nav a:hover {
  color: var(--fg-normal);
}

header nav a::before {
  content: '';
  display: inline-block;
  height: 2em; /* 24px */
  margin-right: 0.5em; /* 6px */
  transition: background-color 300ms;
  vertical-align: bottom;
  width: 2em; /* 24px */
}

header nav a:nth-child(1)::before {
  background-color: var(--fg-accent-1);
  mask: url('/img/blog.svg');
}

header nav a:nth-child(2)::before {
  background-color: var(--fg-accent-2);
  mask: url('/img/learn.svg');
}

header nav a:nth-child(3)::before {
  background-color: var(--fg-accent-3);
  mask: url('/img/about.svg');
}

header nav a:nth-child(4)::before {
  background-color: var(--fg-accent-4);
  mask: url('/img/contact.svg');
}

header nav a:nth-child(5)::before {
  background-color: var(--fg-accent-5);
  mask: url('/img/feed.svg');
}

header nav a:focus::before,
header nav a:hover::before {
  background-color: var(--fg-normal);
}

/* Footer */

footer {
  margin-bottom: var(--space-size-m);
  margin-top: var(--space-size-m);
  text-align: center;
}

/* Posts */

.post .description {
  color: var(--fg-dark);
  font-style: italic;
}

.post .header {
  display: flex;
  flex-direction: column;
  gap: var(--space-size-m);
  margin-bottom: var(--space-size-l);
  margin-top: var(--space-size-l);
  text-align: center;
}

.post .header .title {
  font-size: var(--font-size-xl);
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow:
    1px   1px   var(--bg-accent),
    2px   2px   var(--bg-accent),
    3px   3px   var(--bg-accent),
    4px   4px   var(--bg-accent),
    5px   5px   var(--bg-accent),
    6px   6px   var(--bg-accent),
    7px   7px   var(--bg-accent),
    8px   8px   var(--bg-accent),
    9px   9px   var(--bg-accent),
    10px  10px  var(--bg-accent);
}

@media (min-width: 940px) {
  .post .header .title {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: pop-out;
    font-size: var(--font-size-xxl);
  }
}

@keyframes pop-out {
  from {
    text-shadow:
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent);
    translate: 0px 0px;
  }

  to {
    text-shadow:
      1px   1px   var(--bg-accent),
      2px   2px   var(--bg-accent),
      3px   3px   var(--bg-accent),
      4px   4px   var(--bg-accent),
      5px   5px   var(--bg-accent),
      6px   6px   var(--bg-accent),
      7px   7px   var(--bg-accent),
      8px   8px   var(--bg-accent),
      9px   9px   var(--bg-accent),
      10px  10px  var(--bg-accent),
      11px  11px  var(--bg-accent),
      12px  12px  var(--bg-accent),
      13px  13px  var(--bg-accent),
      14px  14px  var(--bg-accent),
      15px  15px  var(--bg-accent),
      16px  16px  var(--bg-accent),
      17px  17px  var(--bg-accent),
      18px  18px  var(--bg-accent),
      19px  19px  var(--bg-accent),
      20px  20px  var(--bg-accent);
    translate: -20px -20px;
  }
}

.post .header .date {
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
}

.post .header .date::before {
  background: url('/img/date.svg') no-repeat;
  content: '';
  display: inline-block;
  height: 2em; /* 24px */
  margin-right: 0.5em; /* 6px */
  vertical-align: bottom;
  width: 2em; /* 24px */
}

.post .header .tags a {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
  color: var(--fg-accent-5);
  font-size: var(--font-size-xs);
  font-weight: bold;
  padding: var(--space-size-s);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms, color 300ms;
}

.post .header .tags a:focus,
.post .header .tags a:hover {
  background-color: var(--fg-accent-5);
  color: var(--bg-light);
}

.posts .post .title {
  font-size: var(--font-size-l);
  line-height: normal;
  margin-bottom: var(--space-size-s);
  margin-top: var(--space-size-l);
}

.pagination {
  display: flex;
  gap: var(--space-size-m);
  hyphens: auto;
  margin-bottom: var(--space-size-m);
  margin-top: var(--space-size-m);
}

.pagination .previous {
  flex: 1;
  text-align: left;
}

.pagination .current {
  align-self: end;
  flex: 1;
  text-align: center;
}

.pagination .next {
  flex: 1;
  text-align: right;
}

.pagination .previous div,
.pagination .next div {
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
}

