:root {
  --bg-normal: #111;
  --bg-light: #222;
  --bg-accent: purple;

  --fg-normal: #eee;
  --fg-dark: #aaa;
  --fg-accent-1: #00bfff; /* deepskyblue */
  --fg-accent-2: #ff69b4; /* hotpink */
  --fg-accent-3: #ff8c00; /* darkorange */
  --fg-accent-4: #ffd700; /* gold */
  --fg-accent-5: #32cd32; /* limegreen */

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 1rem;     /* 16px */
  --font-size-m: 1.25rem;  /* 20px */
  --font-size-l: 1.875rem; /* 30px */
  --font-size-xl: 2.5rem;  /* 40px */
  --font-size-xxl: 5rem;   /* 80px */

  --space-size-xs: 0.25rem; /* 4px */
  --space-size-s: 0.5rem;   /* 8px */
  --space-size-m: 1.25rem;  /* 20px */
  --space-size-l: 2.5rem;   /* 40px */

  --border-radius-size: 0.5rem; /* 8px */
  --icon-size: 1.5rem; /* 24px */
}

/* Layout */

body {
  background-color: var(--bg-normal);
  background-image: url('/img/header-small.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--fg-normal);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-m);
  line-height: 1.75;
}

@media (min-width: 940px) {
  body {
    background-image: url('/img/header.svg');
    background-position: 50% 0%;
    background-size: auto;
  }
}

/* Blockquotes */

blockquote {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
  font-style: italic;
  padding: var(--space-size-m);
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

/* Code */

code, pre {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
}

code {
  font-size: var(--font-size-s);
  padding: var(--space-size-xs);
  white-space: pre;
}

pre {
  line-height: normal;
  overflow: auto;
  padding: var(--space-size-m);
}

pre code {
  padding: 0;
}

/* Links */

a {
  color: var(--fg-normal);
  text-decoration: underline;
  text-decoration-color: var(--fg-accent-1);
  transition: color 300ms;
}

a:is(:focus, :hover) {
  color: var(--fg-accent-1);
}

/* Lists */

ul {
  padding-left: var(--space-size-m);
}

/* Paragraphs */

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tables */

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-light);
}

td, th {
  padding: var(--space-size-s);
}

th {
  text-align: left;
}

/* Container */

.container {
  margin-left: var(--space-size-m);
  margin-right: var(--space-size-m);
}

@media (min-width: 940px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }
}

.container img {
  max-width: 100%;
}

/* Header */

header {
  margin-bottom: var(--space-size-m);
  margin-top: 50%;
}

@media (min-width: 940px) {
  header {
    margin-top: 35%;
  }
}

header nav {
  display: flex;
  gap: var(--space-size-l);
  justify-content: center;
}

header nav a {
  text-decoration: none;
}

header nav a:nth-child(1) {
  color: var(--fg-accent-1);
}

header nav a:nth-child(2) {
  color: var(--fg-accent-2);
}

header nav a:nth-child(3) {
  color: var(--fg-accent-3);
}

header nav a:nth-child(4) {
  color: var(--fg-accent-4);
}

header nav a:nth-child(5) {
  color: var(--fg-accent-5);
}

header nav a:is(:focus, :hover) {
  color: var(--fg-normal);
}

header nav a::before {
  transition: background-color 300ms;
}

header nav a:nth-child(1)::before {
  background-color: var(--fg-accent-1);
}

header nav a:nth-child(2)::before {
  background-color: var(--fg-accent-2);
}

header nav a:nth-child(3)::before {
  background-color: var(--fg-accent-3);
}

header nav a:nth-child(4)::before {
  background-color: var(--fg-accent-4);
}

header nav a:nth-child(5)::before {
  background-color: var(--fg-accent-5);
}

header nav a:is(:focus, :hover)::before {
  background-color: var(--fg-normal);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-size-m);
  margin-top: var(--space-size-m);
}

footer nav {
  display: flex;
  gap: var(--space-size-m);
}

/* Icons */

.icon {
  align-items: center;
  display: flex;
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
}

.icon::before {
  background-color: var(--fg-normal);
  content: '';
  height: var(--icon-size);
  margin-right: var(--space-size-xs);
  width: var(--icon-size);
}

.icon.icon-about::before { mask: url('/img/about.svg'); }
.icon.icon-blog::before { mask: url('/img/blog.svg'); }
.icon.icon-date::before { mask: url('/img/date.svg'); }
.icon.icon-email::before { mask: url('/img/email.svg'); }
.icon.icon-feed::before { mask: url('/img/feed.svg'); }
.icon.icon-github::before { mask: url('/img/github.svg'); }
.icon.icon-linkedin::before { mask: url('/img/linkedin.svg'); }
.icon.icon-notes::before { mask: url('/img/notes.svg'); }
.icon.icon-right::before { mask: url('/img/right.svg'); }

/* Posts */

.post .description {
  color: var(--fg-dark);
  font-style: italic;
}

.post .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-size-m);
  margin-bottom: var(--space-size-l);
  margin-top: var(--space-size-l);
  text-align: center;
}

.post .header .title {
  font-size: var(--font-size-xl);
  line-height: normal;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow:
    1px   1px   var(--bg-accent),
    2px   2px   var(--bg-accent),
    3px   3px   var(--bg-accent),
    4px   4px   var(--bg-accent),
    5px   5px   var(--bg-accent),
    6px   6px   var(--bg-accent),
    7px   7px   var(--bg-accent),
    8px   8px   var(--bg-accent),
    9px   9px   var(--bg-accent),
    10px  10px  var(--bg-accent);
}

@media (min-width: 940px) {
  .post .header .title {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: pop-out;
    font-size: var(--font-size-xxl);
  }
}

@keyframes pop-out {
  from {
    text-shadow:
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent),
      0px   0px   var(--bg-accent);
    translate: 0px 0px;
  }

  to {
    text-shadow:
      1px   1px   var(--bg-accent),
      2px   2px   var(--bg-accent),
      3px   3px   var(--bg-accent),
      4px   4px   var(--bg-accent),
      5px   5px   var(--bg-accent),
      6px   6px   var(--bg-accent),
      7px   7px   var(--bg-accent),
      8px   8px   var(--bg-accent),
      9px   9px   var(--bg-accent),
      10px  10px  var(--bg-accent),
      11px  11px  var(--bg-accent),
      12px  12px  var(--bg-accent),
      13px  13px  var(--bg-accent),
      14px  14px  var(--bg-accent),
      15px  15px  var(--bg-accent),
      16px  16px  var(--bg-accent),
      17px  17px  var(--bg-accent),
      18px  18px  var(--bg-accent),
      19px  19px  var(--bg-accent),
      20px  20px  var(--bg-accent);
    translate: -20px -20px;
  }
}

.post .header .tags a {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
  color: var(--fg-accent-5);
  font-size: var(--font-size-xs);
  font-weight: bold;
  padding: var(--space-size-s);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms, color 300ms;
}

.post .header .tags a:is(:focus, :hover) {
  background-color: var(--fg-accent-5);
  color: var(--bg-light);
}

.posts .post .title {
  font-size: var(--font-size-l);
  line-height: normal;
  margin-bottom: var(--space-size-s);
  margin-top: var(--space-size-l);
}

.pagination {
  display: flex;
  gap: var(--space-size-m);
  hyphens: auto;
  margin-bottom: var(--space-size-m);
  margin-top: var(--space-size-m);
}

.pagination .previous {
  flex: 1;
  text-align: left;
}

.pagination .current {
  align-self: end;
  flex: 1;
  text-align: center;
}

.pagination .next {
  flex: 1;
  text-align: right;
}

.pagination .previous div,
.pagination .next div {
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
}

/* Table of contents */

.toc {
  background-color: var(--bg-light);
  border-radius: var(--border-radius-size);
  max-width: fit-content;
  padding: var(--space-size-m);
}

.toc .toggle {
  cursor: pointer;
}

.toc .toggle::before {
  transition: rotate 300ms;
}

.toc.open .toggle::before {
  rotate: 90deg;
}

.toc ul {
  display: none;
  margin-bottom: 0;
}

.toc.open ul {
  display: block;
}

/* Screen readers */

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

