.main {
  margin: 1em;
}

.main .title {
  font-size: 1.5em; /* 30px */
  font-weight: bold;
}

.main nav div {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.main nav div:first-child {
  display: none;
}

@media (min-width: 940px) {
  html, body {
    height: 100%;
    width: 100%;
  }

  .page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .main {
    align-items: center;
    display: flex;
    flex-basis: 95%;
    gap: 1em;
    justify-content: center;
  }

  .main .title {
    flex-basis: 0;
    font-size: 3em; /* 60px */
    text-align: right;
  }

  .main nav {
    border-left: 4px solid var(--border-color);
    padding-left: 1em;
  }

  footer {
    flex-basis: 5%;
  }
}

