<nav>
  <div>
    <a href="/">Home</a>
  </div>
  <div>
    <a href="/blog">Blog</a>
  </div>
  <div>
    <a href="/contact">Contact</a>
  </div>
  <div>
    <a href="/privacy">Privacy</a>
  </div>
  <div>
    <a href="/resume">Resume</a>
  </div>
  <div>
    <a href="/portfolio">Portfolio</a>
  </div>
</nav>

