---
layout: base.liquid
---

<h1>{{ title }}</h1>

{% render '_posts',
   posts: pagination.items,
   pageNumber: pagination.pageNumber,
   totalPages: pagination.pages.length,
   nextHref: pagination.href.next,
   previousHref: pagination.href.previous %}

